In [1]:
# 導入函式庫
import os
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.datasets import mnist
from keras.layers import Dense, Dropout, Activation, Flatten
from keras.utils import np_utils  # 用來後續將 label 標籤轉為 one-hot-encoding  
from matplotlib import pyplot as plt

In [2]:
# target data
pre_lea_2021_data = pd.read_csv(os.getcwd() + '\\pre_lea_2021_data.csv')
pre_lea_2021_data

,result,HF,AF,H1N_age,H1N_height_cm,H1N_weight_kg,H1N_overall,H1N_potential,H1N_value_eur,H1N_wage_eur,...,A11N_gk_kicking,A11N_gk_reflexes,A11N_gk_speed,A11N_gk_positioning,A11N_goalkeeping_diving,A11N_goalkeeping_handling,A11N_goalkeeping_kicking,A11N_goalkeeping_positioning,A11N_goalkeeping_reflexes,A11P_positionScore
0,away,4-2-3-1,3-4-3,25,177,81,70,74,2300000,47000,...,80,86,56,84,85,83,80,84,86,84
1,home,4-4-2,4-4-2,28,182,81,77,77,9000000,59000,...,64,81,57,75,77,75,64,75,81,75
2,home,4-3-3,4-1-4-1,28,181,76,87,87,52000000,190000,...,70,73,28,67,70,67,70,67,73,67
3,away,4-2-3-1,4-4-2,30,178,82,78,78,10000000,46000,...,64,76,55,71,75,70,64,71,76,71
4,away,3-4-3,4-1-4-1,25,178,75,72,76,4100000,52000,...,83,89,54,79,82,77,83,79,89,79
5,away,4-2-3-1,4-3-3,26,188,89,88,89,71000000,220000,...,87,85,48,77,81,77,87,77,85,77
6,away,3-5-2,3-4-3,34,175,70,73,73,2100000,30000,...,77,83,55,82,84,80,77,82,83,82
7,away,3-5-2,4-2-2-2,25,172,67,78,81,13000000,55000,...,85,82,33,79,81,82,85,79,82,79
8,home,4-3-3,3-4-3,23,187,71,79,84,17000000,80000,...,70,77,41,73,79,74,70,73,77,73
9,home,4-1-4-1,4-2-3-1,26,185,71,71,72,2800000,56000,...,80,84,55,78,85,79,80,78,84,78

In [3]:
X = pre_lea_2021_data.drop(['result'], axis = 1).copy()

X_encoded = pd.get_dummies(X, columns=['HF', 'AF'])
X_encoded

,H1N_age,H1N_height_cm,H1N_weight_kg,H1N_overall,H1N_potential,H1N_value_eur,H1N_wage_eur,H1N_international_reputation,H1N_weak_foot,H1N_skill_moves,...,HF_4-1-4-1,HF_4-2-3-1,HF_4-3-3,HF_4-4-2,AF_3-4-3,AF_4-1-4-1,AF_4-2-2-2,AF_4-2-3-1,AF_4-3-3,AF_4-4-2
0,25,177,81,70,74,2300000,47000,1,3,3,...,0,1,0,0,1,0,0,0,0,0
1,28,182,81,77,77,9000000,59000,2,3,4,...,0,0,0,1,0,0,0,0,0,1
2,28,181,76,87,87,52000000,190000,3,4,5,...,0,0,1,0,0,1,0,0,0,0
3,30,178,82,78,78,10000000,46000,2,3,4,...,0,1,0,0,0,0,0,0,0,1
4,25,178,75,72,76,4100000,52000,1,3,3,...,0,0,0,0,0,1,0,0,0,0
5,26,188,89,88,89,71000000,220000,3,4,3,...,0,1,0,0,0,0,0,0,1,0
6,34,175,70,73,73,2100000,30000,1,3,2,...,0,0,0,0,1,0,0,0,0,0
7,25,172,67,78,81,13000000,55000,1,4,4,...,0,0,0,0,0,0,1,0,0,0
8,23,187,71,79,84,17000000,80000,1,3,3,...,0,0,1,0,1,0,0,0,0,0
9,26,185,71,71,72,2800000,56000,1,3,3,...,1,0,0,0,0,0,0,1,0,0

In [4]:
X_encoded.values

array([[ 25, 177,  81, ...,   0,   0,   0],
       [ 28, 182,  81, ...,   0,   0,   1],
       [ 28, 181,  76, ...,   0,   0,   0],
       ...,
       [ 25, 172,  67, ...,   0,   0,   0],
       [ 23, 187,  71, ...,   0,   0,   0],
       [ 26, 185,  71, ...,   1,   0,   0]], dtype=int64)

In [7]:
y = pre_lea_2021_data['result'].copy()

# def one_hot_y_label(y):
#     result = np.zeros((len(y), 3), dtype=int)
#     for ind, rs in y.items():
#         if rs == 'home':
#             result[ind][0] = 1
#         elif rs == 'away':
#             result[ind][2] = 1
#         else:
#             result[ind][1] = 1
            
#     return result.astype('float32')

def one_hot_y_label(y):
    result = np.zeros(len(y), dtype=int)
    for ind, rs in y.items():
        if rs == 'home':
            result[ind] = 1
#         else:
#             result.append(0)
    return result
#     return result.astype('float32')


# 將 training 的 label 進行 one-hot encoding，例如數字 7 經過 One-hot encoding 轉換後是 0000001000，即第7個值為 1
y_encode = one_hot_y_label(y)
y_encode

NameError: name 'array' is not defined

In [9]:
arr = np.array((1, 2, 3, 4, 5))
arr

array([1, 2, 3, 4, 5])