In [1]:
import pandas as pd  
  
# the dataset 
data = pd.read_csv('BMI.csv') 
  
# printing first few rows 
print(data.head())

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [2]:
from statsmodels.stats.outliers_influence import variance_inflation_factor 
  
# creating dummies for gender 
data['Gender'] = data['Gender'].map({'Male':0, 'Female':1}) 
data

     Gender  Height  Weight  Index
0         0     174      96      4
1         0     189      87      2
2         1     185     110      4
3         1     195     104      3
4         0     149      61      3
..      ...     ...     ...    ...
495       1     150     153      5
496       1     184     121      4
497       1     141     136      5
498       0     150      95      5
499       0     173     131      5

[500 rows x 4 columns]

In [3]:

# the independent variables set 
X = data[['Gender', 'Height', 'Weight']] 

# VIF dataframe 
vif_data = pd.DataFrame() 
vif_data["feature"] = X.columns 

# calculating VIF for each feature 
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]

print(vif_data)

  feature        VIF
0  Gender   2.028864
1  Height  11.623103
2  Weight  10.688377